:root {
  --app: #ffc82c;
  --black: #141414;
  --blue: #132337;
  --blue-050: #e5f1fe;
  --blue-100: #c8e0fe;
  --blue-200: #a8cdfe;
  --blue-300: #76b3fd;
  --blue-400: #58a1fd;
  --blue-500: #3991fd;
  --blue-600: #317cda;
  --blue-700: #166bd5;
  --blue-800: #0e5bbb;
  --blue-900: #0b4b9b;
  --green-050: #ebf9ed;
  --green-100: #d2f2d8;
  --green-200: #b7eac1;
  --green-300: #8fde9e;
  --green-400: #75d787;
  --green-500: #5cd072;
  --green-600: #57c16a;
  --green-700: #40b956;
  --green-800: #2b7d3b;
  --green-900: #20602d;
  --negative: #eb2654;
  --neutral-050: #fdfdfd;
  --neutral-100: #f5f5f5;
  --neutral-200: #f0f0f0;
  --neutral-300: #e8e8e8;
  --neutral-400: #e3e3e3;
  --neutral-500: #dedede;
  --neutral-600: #d5d5d5;
  --neutral-700: #b9b9b9;
  --neutral-800: #979797;
  --neutral-900: #666666;
  --positive: #5cd072;
  --purple-050: #efebfa;
  --purple-100: #ddd1f5;
  --purple-200: #c8b6ef;
  --purple-300: #ab8fe7;
  --purple-400: #9774e1;
  --purple-500: #835bdc;
  --purple-600: #6f43d0;
  --purple-700: #6031c3;
  --purple-800: #4d21ac;
  --purple-900: #41169d;
  --red-050: #fce4ea;
  --red-100: #f9c3cf;
  --red-200: #f69fb3;
  --red-300: #f16a89;
  --red-400: #ee486e;
  --red-500: #eb2654;
  --red-600: #d51c47;
  --red-700: #be0833;
  --red-800: #800521;
  --red-900: #630419;
  --warning: #ffc82c;
  --yellow-050: #fff8e5;
  --yellow-100: #ffefc5;
  --yellow-200: #ffe6a2;
  --yellow-300: #ffd96f;
  --yellow-400: #ffd04d;
  --yellow-500: #ffc82c;
  --yellow-600: #f8bf1f;
  --yellow-700: #f8b700;
  --yellow-800: #a87c00;
  --yellow-900: #815e00;
  --un-petit-nom: #5f3636;
}